
.navbar-default{
    background: #dedede !important;
    border-radius: 0 !important;
    border: none !important;
}

body{
	background: #ededed;
}




@import 'bootstrap-sprockets';
@import 'bootstrap';